<!-- app/src/main/AndroidManifest.xml -->
<manifest ...>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- برای سرویس Foreground نوع mediaPlayback -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application ...>
        <activity
            android:name=".ui.FullScreenAlarmActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar.FullScreen"/>

        <service
            android:name=".AlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <receiver android:name=".StopAlarmReceiver" android:exported="false"/>
    </application>
</manifest>
